<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MissionEditor.Properties.Path" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MissionEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <MissionEditor.Properties.Path>
      <setting name="ConfigFolderPath" serializeAs="String">
        <value>D:\ProjectResource\autoconfig\</value>
      </setting>
      <setting name="ImageFolderPath" serializeAs="String">
        <value>D:\ProjectResource\00UI\</value>
      </setting>
      <setting name="MissionFilePath" serializeAs="String">
        <value>D:\ProjectResource\z主线任务.xlsx</value>
      </setting>
      <setting name="ItemAttrFileName" serializeAs="String">
        <value>knight.gsp.item.citemattr.xml</value>
      </setting>
      <setting name="NpcConfigFileName" serializeAs="String">
        <value>knight.gsp.npc.cnpcconfig.xml</value>
      </setting>
      <setting name="NpcShapeFileName" serializeAs="String">
        <value>knight.gsp.npc.cnpcshape.xml</value>
      </setting>
      <setting name="MapConfigFileName" serializeAs="String">
        <value>knight.gsp.map.cmapconfig.xml</value>
      </setting>
      <setting name="HeadImageFileName" serializeAs="String">
        <value>大头像</value>
      </setting>
      <setting name="ItemIconFileName" serializeAs="String">
        <value>Item</value>
      </setting>
    </MissionEditor.Properties.Path>
  </userSettings>
  <applicationSettings>
    <MissionEditor.Properties.Settings>
      <setting name="ConfigFolderPath" serializeAs="String">
        <value>D:\ProjectResource\autoconfig\</value>
      </setting>
      <setting name="ImageFolderPath" serializeAs="String">
        <value>D:\ProjectResource\00UI\</value>
      </setting>
      <setting name="ItemAttrName" serializeAs="String">
        <value>knight.gsp.item.citemattr.xml</value>
      </setting>
      <setting name="NpcConfigFileName" serializeAs="String">
        <value>knight.gsp.npc.cnpcconfig.xml</value>
      </setting>
      <setting name="NpcShapeFileName" serializeAs="String">
        <value>knight.gsp.npc.cnpcshape.xml</value>
      </setting>
      <setting name="MapConfigFileName" serializeAs="String">
        <value>knight.gsp.map.cmapconfig.xml</value>
      </setting>
      <setting name="HeadImageset" serializeAs="String">
        <value>大头像</value>
      </setting>
      <setting name="ItemIcon" serializeAs="String">
        <value>Item</value>
      </setting>
    </MissionEditor.Properties.Settings>
  </applicationSettings>
</configuration>